body {
  margin: 0;
  padding: 0;
  background-image: url('/public/Vintage-Grunge-Paper-Texture.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
}

.phonebookContainer {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.title {
  font-size: 32px;
  color: #333;
}
