.table-manager {
	position: relative;
}

/* Stylizacja dla przycisku Toggle Manager Panel */
.manager-panel-button {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

/* Stylizacja dla overlay ManagerPanel */
.manager-panel-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);

	justify-content: center;
	align-items: center;
	z-index: 1000;
}

/* Stylizacja dla panelu ManagerPanel */
.manager-panel {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	max-width: 400px;
	width: 100%;
	text-align: center;
}

.manager-panel h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.manager-panel .close-button {
	background: none;
	border: none;
	cursor: pointer;
	color: gray;
	position: absolute;
	top: 10px;
	right: 10px;
}

.manager-panel-content {
	margin-top: 20px;
}
